<div class="container col-lg-6">
  <br>
  <h1 class="text-center">Login</h1>
      <form class="form-group" [formGroup]="loginForm">
        <br>
        <!-- <div class="alert alert-warning" >{{errorMessage}}</div>
        <div class="alert alert-success">{{successMessage}}</div> -->
        <div class="form-group">
          <label class="lbl">Email :</label>
          <input type="email" class="form-control" formControlName="email" id="username" placeholder="Enter User Name">
           <!-- <div *ngIf="email.invalid && email.touched">Email is invalid</div> -->
        </div>
        <div class="form-group">
          <label class="lbl">Password:</label>
          <input type="password" class="form-control" formControlName="password"  id="password" placeholder="Enter password"
            >
            <!-- <div *ngIf="password.invalid && password.touched">Password is invalid</div> -->
        </div>
        <button  class="btn btn-primary" type="submit" (click)="login()" [disabled]="loginForm.invalid">Login</button>
      </form>
</div>