<header>
    <nav class="navbar navbar-expand-md navbar-dark">
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item">
              <a href="/dashboard" class="nav-link" routerLink="dashboard">Home </a>
            </li>
            <li class="nav-item" *ngIf="tokenStorage?.getUser()?.roles?.includes('ROLE_ADMIN')">
              <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
            </li>
            <li class="nav-item">
              <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto" *ngIf="!tokenStorage.isLoggedIn">
            <li class="nav-item">
              <a href="/register" class="nav-link" routerLink="register" (click)=signUp()>Sign Up</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
          </ul>
      
          <ul class="navbar-nav ml-auto" *ngIf="tokenStorage.isLoggedIn">
            <li class="nav-item">
              <a href="/profile" class="nav-link" routerLink="profile"> User</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link" (click)=handleLogout()>Logout</a>
            </li>
          </ul>
    </nav>
</header>